#
# GetSimple CMS htaccess ALLOW file
#

# prevent breaking plugin htaccess, prefer compat,  since require is not overridable by order

# apache < 2.3
<IfModule !mod_authz_core.c>
	Allow from all
</IfModule>

# apache > 2.3 with mod_access_compat
<IfModule mod_access_compat.c>
	Allow from all
</IfModule>

# apache > 2.3 without mod_access_compat
<IfModule mod_authz_core.c>

	<IfModule !mod_access_compat.c>
		Require all granted
	</IfModule>

</IfModule>

# Deny access to all script files
# <FilesMatch "(?i)\.((php[0-9]?)|(ph[0-9]?)|phtm|phtml|pl|py|jsp|asp|htm|shtml|sh|cgi|)$">
# 500 error apache 1.3, case insensitive, so we have ot use this nonesense
<FilesMatch "\.(([pP][hH][pP][0-9]?)|([pP][hH][0-9]?)|[pP][hH][tT][mM]|[pP][hH][tT][mM][lL]|[pP][lL]|[pP][yY]|[jJ][sS][pP]|[aA][sS][pP]|[hH][tT][mM]|[sS][hH][tT][mM][lL]|[sS][hH]|[cC][gG][iI])$"> 
	ForceType text/plain
	Deny from all
	Require all denied
</FilesMatch>

# Disable php execution
SetHandler GS_DISABLED_SECURITY
<IfModule mod_php5.c>
	php_flag engine off
</IfModule>


