/* Styles for the "templates" plugin */
.cke_skin_getsimple .cke_tpl_list {
	border:#dcdcdc 2px solid;
	background-color:#fff;
	overflow-y:auto;
	overflow-x:hidden;
	width:100%;
	height:220px;
}

.cke_skin_getsimple .cke_tpl_item {
	margin:5px;
	padding:7px;
	border:#eee 1px solid;
	*width:88%;
}

.cke_skin_getsimple .cke_tpl_preview {
	border-collapse:separate;
	text-indent:0;
	width:100%;
}

.cke_skin_getsimple .cke_tpl_preview td {
	padding:2px;
	vertical-align:middle;
}

.cke_skin_getsimple .cke_tpl_preview .cke_tpl_preview_img {
	width:100px;
}

.cke_skin_getsimple .cke_tpl_preview span {
	white-space:normal;
}

.cke_skin_getsimple .cke_tpl_title {
	font-weight:bold;
}

.cke_skin_getsimple .cke_tpl_list a:active .cke_tpl_item, .cke_skin_getsimple .cke_tpl_list a:hover .cke_tpl_item, .cke_skin_getsimple .cke_tpl_list a:focus .cke_tpl_item {
	border:#f93 1px solid;
	background-color:#fffacd;
}

.cke_skin_getsimple .cke_tpl_list a:active *, .cke_skin_getsimple .cke_tpl_list a:hover *, .cke_skin_getsimple .cke_tpl_list a:focus * {
	cursor:pointer;
}

.cke_skin_getsimple .cke_browser_ie6 .cke_tpl_list a:active, .cke_skin_getsimple .cke_browser_ie6 .cke_tpl_list a:hover, .cke_skin_getsimple .cke_browser_ie6 .cke_tpl_list a:focus {
	background-position:0 0;
}

.cke_skin_getsimple .cke_hc .cke_tpl_list a:active .cke_tpl_item, .cke_skin_getsimple .cke_hc .cke_tpl_list a:hover .cke_tpl_item, .cke_skin_getsimple .cke_hc .cke_tpl_list a:focus .cke_tpl_item {
	border-width:3px;
}

.cke_skin_getsimple .cke_tpl_empty, .cke_tpl_loading {
	text-align:center;
	padding:5px;
}

.cke_skin_getsimple td#cke_contents_post-content {
	border:1px solid #aaa;
	border-bottom: 1px solid #aaa !important;
	border-top:1px solid #aaa !important;
}